@using CoolVacationT.Common
@using CoolVacationT.Web.ViewModels.FeedBacks.InputModels
@model CreateFeedBackInputModel

@{
    this.ViewData["Title"] = "Add FeedBacks";
}

<h1 class="display-3">New FeedBack</h1>

<form asp-controller="FeedBacks" asp-action="Add" mtehod="post" class="form">

    <div asp-validation-summary="All"></div>
    <div class="col-md-2">
        <label asp-for="Rating"></label>
        <input asp-for="Rating" class="form-control" />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="col-md-12">
        <label asp-for="Comment"></label>
        <input asp-for="Comment" class="form-control" />
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
