@using CoolVacationT.Common

@{
    this.ViewData["Title"] = "Success";
}

    <div class="container">
        <h3 class="display-4">
            You have successfully delete feedbacks!
        </h3>
        <img src="http://res.cloudinary.com/du8vkjq9e/image/upload/v1586789945/roapgqex0ggvmvnpxizw.jpg" class="img-fluid" />
    </div>

