@using CoolVacationT.Common
@using CoolVacationT.Web.ViewModels.Reservations.InputModels
@model CreateReservationInputModel

@{
    this.ViewData["Title"] = "Add Reservation";
}

<h1 class="display-3">Fill number of people</h1>
<div class="col-md-2">
    <form asp-controller="Reservations" asp-action="Add" mtehod="post">
        <div class="form-group">
            <label asp-for="NoOfPeople"></label>
            <input asp-for="NoOfPeople" type="number" min="1" max="14" class="form-control">
            <span asp-validation-for="NoOfPeople" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
