@using CoolVacationT.Common
@using CoolVacationT.Web.ViewModels.Reservations.InputModels
@model CreateReservationInputModel

@{
    this.ViewData["Title"] = "Success";
}

    <div class="container">
        <h3 class="display-4">
            You have successfully made your reservation.
            We will call you for confirmation.
        </h3>
        <img src="http://res.cloudinary.com/du8vkjq9e/image/upload/v1586593440/nn1zf4kadrunqfi9iiod.jpg" class="img-fluid" />
    </div>

