@using CoolVacationT.Common
@using CoolVacationT.Web.ViewModels.Reservations.InputModels
@model CreateReservationInputModel

@{
    this.ViewData["Title"] = "Success";
}

    <h3 class="display-4">
        You have successfully made your reservation.
        We will call you for confirmation.
    </h3>

