@using CoolVacationT.Common

@{
    this.ViewData["Title"] = "Home Page";
}

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Guesthouse Velena!</div>
            <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" asp-controller="Home" asp-action="Introduction">Tell Me More</a>
        </div>

        @* <img src="http://res.cloudinary.com/du8vkjq9e/image/upload/v1586502384/ath0ggbmtuamgujtr42t.jpg" class="img-fluid" />
        *@
    </div>
</header>