@using CoolVacationT.Common

@{
    ViewData["Title"] = "Introduction";
}
<body>
    <h1>Introduction</h1>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000">
        <center>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src=@(GlobalConstants.PicHomeOut) class="d-block w-50" alt="Очакаваме Ви">
                </div>
                <div class="carousel-item">
                    <img src=@(GlobalConstants.PicHol) class="d-block w-50" alt="Очакаваме Ви">
                </div>
                <div class="carousel-item">
                    <img src=@(GlobalConstants.PicTrapezaria) class="d-block w-50" alt="Очакаваме Ви">
                </div>
                <div class="carousel-item">
                    <img src=@(GlobalConstants.PicKitchen) class="d-block w-50" alt="Очакаваме Ви">
                </div>
                <div class="carousel-item">
                    <img src=@(GlobalConstants.PicCoupleRoom) class="d-block w-50" alt="Очакаваме Ви">
                </div>
            </div>
        </center>
    </div>
    <main>
        <p>
            The 3-star Velena Guest House is set in a picturesque location next to a forest and river, away from the noise, with stunning views of the Maragidik and Botev peaks. The house is a suitable destination for both relaxation and family celebrations.
            Velena Guest House has a capacity of 10 beds (maximum 14), distributed in 5 bedrooms, with an option for extra beds. Three of the rooms have private bathrooms, the other 2 rooms use 2 bathrooms outside the rooms.
            The house is for rent on its own, no individual rooms are offered.
            Amenities: Dining room with fireplace. Equipped kitchenette. Electricity and coal grills. Professional music system. Landscaped yard with gazebo. Parking. Electricity heating.
        </p>
        <p>
            <i class="fas fa-search-location"></i> kv. Novo Celo, str. Kasalijska 1A, city of Aprilci, Bulgaria
            <i class="fas fa-phone-square"></i> +359 888 625 021, +359 887 449 714
        </p>
        <p>
            We are here:
        </p>
        <p>
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=24.91503953933716%2C42.82939329801212%2C24.928150177001953%2C42.83500316038537&amp;layer=mapnik&amp;marker=42.83220222683325%2C24.921594858169556" style="border: 1px solid black"></iframe><br /><small><a href="https://www.openstreetmap.org/?mlat=42.83220&amp;mlon=24.92159#map=17/42.83220/24.92159">View Larger Map</a></small>
        </p>
    </main>
</body>



